/*! purgecss start ignore */
@import 'tailwindcss/base';
/*! purgecss end ignore */

@import 'components/resets';

@import 'tailwindcss/components';

@import 'components/markdown';

@import 'tailwindcss/utilities';

.body {
  background-color: #22292f;
}

.image-container {
  position: relative;
  height: 70vh;
  max-height: 800px;
  width: 70vh;
  max-width: 800px;
  margin-left:auto;
  margin-right:auto;
}

.parallaximage {
  position:absolute;
  top: 0;
  left: 0;
  height:100%;
}